h1{
    display:flex;
    align-items: center;
    padding: 0 564px;
    color: rgb(94, 255, 0);
    font-size: 50px;
}label{
    display:flex;
    align-items: center;
    margin: 12px 138px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}input{
    display:flex;
    align-items: center;
    margin: -9px 138px;
    padding: 4px 126px;
}button{
    align-items: center;
    margin: 12px -64px 0 131px;
}select{
    display: flex;
    align-items: center;
    margin: -402px 930px;
    font-size: 17px;
}body{
    background-color: rgb(195, 236, 197);
}#result{
    margin: 18px 137px;
}#clasificacion{
    margin: 40px 137px;
}